* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Aeonik";
  src: url("../../../Aeonik-Bold.otf");
}

@font-face {
  font-family: "AeonikMedium";
  src: url("../../../Aeonik-Medium.otf");
}

@font-face {
  font-family: "CircularSpotify";
  src: url("../../../CircularSpotifyText-Light.otf");
}

.about_subbody {
  padding-top: 100px;
  overflow-y: hidden;
}

.tag_img {
  position: absolute;
  top: 27.2%;
  left: 13.8%;
  width: 10%;
}

.tagone_img {
  position: absolute;
  top: 19.5%;
  left: 54.7%;
  width: 10%;
}

.tagtwo_img {
  position: absolute;
  top: 47.5%;
  left: 35.6%;
  width: 10%;
}

.tagthree_img {
  position: absolute;
  top: 38%;
  left: 63.7%;
  width: 10%;
}

.tagfour_img {
  position: absolute;
  top: 39.8%;
  right: 2.5%;
  width: 10%;
}

.tagfive_img {
  position: absolute;
  top: 69%;
  left: 13%;
  width: 10%;
}

.tagsix_img {
  position: absolute;
  top: 71%;
  left: 47.5%;
  width: 10%;
}

.tagseven_img {
  position: absolute;
  top: 77%;
  left: 84.8%;
  width: 10%;
}

.about_body {
  background: #111111;
  padding-top: 2rem;
}

.about_title {
  font-family: Aeonik;
  color: white;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.about_subtitle {
  font-family: CircularSpotify;
  color: #b9b9b9;
  text-align: center;
  font-size: 25px;
  width: 55%;
  padding-top: 24px;
}

.arrow_about_img {
  position: absolute;
  left: 11%;
  top: -20%;
  animation: upDownAnimationess 2s infinite alternate;
}

@keyframes upDownAnimationess {
  0% {
    top: 0; /* Start position */
  }
  50% {
    top: -20%; /* Middle position (up) */
  }
  100% {
    top: 0; /* End position (down) */
  }
}

.about_img {
  padding-top: 120px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .about_subtitle {
    width: 65%;
  }

  .arrow_about_img {
    position: absolute;
    left: 10%;
    top: -20%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_subtitle {
    width: 75%;
  }

  .arrow_about_img {
    position: absolute;
    left: 5%;
    top: -30%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about_subtitle {
    font-size: 20px;
    width: 90%;
  }

  .arrow_about_img {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .about_title {
    font-size: 36px;
  }

  .about_subtitle {
    font-size: 18px;
    width: 95%;
  }

  .arrow_about_img {
    display: none;
  }
}

@media (max-width: 576px) {
  .about_title {
    font-family: Aeonik;
    color: white;
    font-size: 36px;
    /* line-height: 60px; */
    /* font-weight: 400; */
    text-align: center;
    width: 100%;
    padding: 0 2rem;
    letter-spacing: 1px;
  }

  .about_subtitle {
    font-size: 18px;
    width: 100%;
    padding: 1rem 0.4rem;
  }

  .arrow_about_img {
    display: none;
  }

  .about_body {
    padding-top: 0.5rem;
  }

  .about_img {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 560px) {
  .tag_img,
  .tagone_img,
  .tagtwo_img,
  .tagthree_img,
  .tagfour_img,
  .tagfive_img,
  .tagsix_img,
  .tagseven_img
  
  {
    width: 25%;


  }


  .tagtwo_img,
  .tag_img,
  .tagfour_img,
  .tagsix_img,
  .tagseven_img {
    display: none;
  }
  #big_frame {
    display: none;
  }

  /* .frame_bg {
    background-image: url("../../assets/icons/mobile-frame.png");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
  } */

  .about_body {
    overflow-x: hidden;
  }
}
