* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.refer_body {
  background-image: url("../assets/Images/image7.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-y: hidden;
}

@font-face {
  font-family: "Aeonik";
  src: url("../../Aeonik-Bold.otf");
}

@font-face {
  font-family: "Aeoniklight";
  src: url("../../Aeonik-Light.otf");
}

@font-face {
  font-family: "AeonikMedium";
  src: url("../../Aeonik-Medium.otf");
}

@font-face {
  font-family: "AeonikRegular";
  src: url("../../Aeonik-Regular.otf");
}

@font-face {
  font-family: "CircularSpotify";
  src: url("../../CircularSpotifyText-Light.otf");
}

.refer_container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.refer_title {
  color: white;
  font-family: AeonikMedium;
  font-size: 32px;
  width: 100%;
  line-height: 1.6;
  text-align: center;
}

@media (min-width: 1366px) {
  .refer_title {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 756px) {
  .refer_container {
    gap: 1rem;
  }
  .grp_imges {
    width: 80px;
  }
  .refer_title {
    font-size: 18px;
    width: 90%;
  }

  .refer_body {
    min-height: calc(100vh - 3.6rem);
  }
}
